# Idea borrowed from riemann-jmx:
#  - https://github.com/wikimedia/riemann-jmx
#  - https://github.com/twosigma/riemann-jmx

push-to:
 host     : 192.168.11.19
 port     : 2003
 interval : 5

jmx:
 host   : diadoc-cass1
 port   : 7199
 # Outgoing metrics should look like "prefix.host.service.attr"

queries : 
 - metric  : read
   obj     : "org.apache.cassandra.metrics:type=ClientRequest,scope=Read,name=Latency"
   attr    : [ "95thPercentile", "99thPercentile" ]

 - metric  : jvm
   obj     : "java.lang:type=Memory"
   attr    :
    - HeapMemoryUsage
    - NonHeapMemoryUsage